# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema Operacional
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/

# Variáveis de Ambiente
.env
.env.*
*.local

### BACKEND ###
/server/node_modules
/server/dist

### FRONTEND ###
/client/node_modules
/client/.expo
/client/web-build
/client/android/build
/client/ios/build

# Certificados e Chaves
*.jks
*.p8
*.p12
*.keystore